<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div class="row">
            <h1>Categories</h1>
            <hr />
        </div>

        <div class="row">
            <div alert-box></div>
        </div>

        <div class="row">
            <div filter-cat></div>
        </div>

        <div class="row">
            <table class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="width: 60px; text-align: right">
                            <button type="button" class="btn btn-warning" ng-click="catsVm.refreshCats()" title="Refresh">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr new-cat add-success="catsVm.addSuccess(msg)" add-error="catsVm.addError(msg)"></tr>
                    <tr ng-repeat="cat in catsVm.cats | filter:catsVm.catFilter" edit-cat the-cat="cat" cat-in-edit="catsVm.catInEdit" add-success="catsVm.addSuccess(msg)" add-error="catsVm.addError(msg)"></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
