<div>
    <div collapse-panel init-open="false" header-title="'Filter'">
        <div class="row">
            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="control-label col-md-2" for="name">Name:</label>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="name" placeholder="Search category text" ng-model="filter.text">
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <button type="button" class="btn btn-primary" ng-click="search()" title="Search">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                            </button>
                            <button type="button" class="btn btn-default" ng-click="clear()" title="Clear">
                                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
