<!DOCTYPE html>
<html ng-app="PointsMVCApp" ng-controller="LandingPageController">
<head>
    <title ng-bind="models.helloAngular"></title>
    <link href="//netdna.bootstrapcdn.com/bootswatch/2.3.0/cerulean/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/css")
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" ng-click="navbarProperties.isCollapsed = !navbarProperties.isCollapsed">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Awesome Angular MVC APP</a>
            </div>
            <div class="navbar-collapse collapse" collapse="navbarProperties.isCollapsed">
                <ul class="nav navbar-nav">
                    <li><a href="/routeOne">Route One</a></li>
                    <li><a href="/routeTwo/6">Route Two</a></li>
                    <li><a href="/routeThree">Route Three</a></li>
                    <li><a href="/routeFour">Route Four</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div ng-app="directive.g+signin">
        <google-plus-signin clientid="1064139911926-bbgmh0qmd9t428cqtt9f4bah9s57v3vs"></google-plus-signin>
    </div>

    <div class="container mainContent">
        <div ng-view></div>
    </div>


<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.20/angular-route.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>

    <script src="..\..\Scripts\google-plus-signin.js"></script>
    
    @Scripts.Render("~/bundles/PointsMVCApp")
</body>
</html>