<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit {{editPlanVm.task.name}}</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div alert-box></div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <p>Category</p>
                <input type="text" class="form-control" ng-model="editPlanVm.task.task.category.name" ng-disabled="true" />
            </div>
            <div class="col-md-3">
                <p>Task</p>
                <input type="text" class="form-control" ng-model="editPlanVm.task.name" ng-disabled="true" />
            </div>
            <div class="col-md-3">
                <p>Duration</p>
                <select class="form-control" ng-model="editPlanVm.task.duration.type" ng-options="option.name for option in editPlanVm.enums.dTypes track by option.id">
                    {{editPlanVm.task.duration.type.name}}
                </select>
                <div>&nbsp;</div>
                <input type="number" class="form-control" placeholder="Value" ng-model="editPlanVm.task.duration.value" ng-show="editPlanVm.showAddDuration()" min="1" />
                <div>&nbsp;</div>
                <select class="form-control" ng-model="editPlanVm.task.duration.unit" ng-show="editPlanVm.showAddDuration()" ng-options="option.name for option in editPlanVm.enums.dUnits track by option.id">
                    {{editPlanVm.task.duration.unit.name}}
                </select>
                <div>&nbsp;</div>
            </div>
            <div class="col-md-3">
                <p>Frequency</p>
                <select class="form-control" ng-model="editPlanVm.task.frequency.type" ng-options="option.name for option in editPlanVm.enums.fTypes track by option.id">
                    {{editPlanVm.task.frequency.type.name}}
                </select>
                <div>&nbsp;</div>
                <input type="number" class="form-control" placeholder="Value" ng-model="editPlanVm.task.frequency.value" ng-show="editPlanVm.showAddFrequency()" min="1" />
                <div>&nbsp;</div>
                <select class="form-control" ng-model="editPlanVm.task.frequency.unit" ng-show="editPlanVm.showAddFrequency()" ng-options="option.name for option in editPlanVm.enums.fUnits track by option.id">
                    {{editPlanVm.task.frequency.unit.name}}
                </select>
                <div>&nbsp;</div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" type="button" ng-click="editPlanVm.confirm()">Save</button>
        <button class="btn btn-danger" type="button" ng-click="editPlanVm.cancel()">Cancel</button>
    </div>
</div>