<!DOCTYPE html>
<html data-ng-app="PointsApp">
<head>

    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>checkPoint!</title>
    <!--<link href="content/css/bootstrap.spacelab.min.css" rel="stylesheet" />-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" rel="stylesheet" />-->
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="content/css/bootstrap-social.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="indexController as indexVm">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" ng-click="indexVm.navbarExpanded = !indexVm.navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#">checkPoint!</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-hide="!indexVm.authentication.isAuth"><a>Welcome {{indexVm.authentication.userName}}</a></li>
                    <li ng-hide="!indexVm.authentication.isAuth"><a href="#/active">Active Week</a></li>
                    <li ng-hide="!indexVm.authentication.isAuth"><a href="#/planning">Planning</a></li>
                    <li ng-hide="!indexVm.authentication.isAuth"><a href="#/cats">Categories</a></li>
                    <li ng-hide="!indexVm.authentication.isAuth"><a href="#/tasks">Tasks</a></li>
                    <li ng-hide="!indexVm.authentication.isAuth"><a href="#/options">Options</a></li>
                    <li ng-hide="!indexVm.authentication.isAuth"><a href="" ng-click="indexVm.logOut()">Logout</a></li>
                    <li ng-hide="indexVm.authentication.isAuth"> <a href="#/login">Login</a></li>
                    <li ng-hide="indexVm.authentication.isAuth"> <a href="#/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
        <!--<div active-status ng-show="authentication.isAuth"></div>
        <div planning-status ng-show="authentication.isAuth"></div>-->
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        &nbsp;
    </div>

    <div class="container">
        <div data-ng-view="">
        </div>
    </div>

    <hr/>
    
    <!-- 3rd party libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="//underscorejs.org/underscore-min.js"></script>

    <script src="scripts/hash.js?v=1"></script>
    <script src="scripts/format.js?v=1"></script>
    <!-- Load app main script -->
    <script src="app/checkpoint.module.js?v=1"></script>
    <script src="app/checkpoint.config.js?v=1"></script>
    <script src="app/checkpoint.constants.js?v=1"></script>
    <script src="app/checkpoint.run.js?v=1"></script>

    <!-- Load services -->
    <script src="app/services/auth.service.js?v=1"></script>
    <script src="app/services/authData.service.js?v=1"></script>
    <script src="app/services/authInterceptor.service.js?v=1"></script>
    <script src="app/services/filter.service.js?v=1"></script>
    <script src="app/services/modal.service.js?v=1"></script>
    <script src="app/services/resource.service.js?v=1"></script>
    <!-- Load active -->
    <script src="app/areas/active/active.controller.js?v=1"></script>
    <script src="app/areas/active/activeTaskCard.js?v=1"></script>
    <script src="app/areas/active/activeTaskTotals.js?v=1"></script>
    <script src="app/areas/active/filterActiveTask.js?v=1"></script>
    <script src="app/areas/active/confirmUncheckModal.js?v=1"></script>
    <!-- Load categories -->
    <script src="app/areas/categories/cats.controller.js?v=1"></script>
    <script src="app/areas/categories/editCat.directive.js?v=1"></script>
    <script src="app/areas/categories/filterCat.directive.js?v=1"></script>
    <script src="app/areas/categories/newCat.directive.js?v=1"></script>
    <!-- Load common -->
    <script src="app/areas/common/alertBox.directive.js?v=1"></script>
    <script src="app/areas/common/basicPanel.directive.js?v=1"></script>
    <script src="app/areas/common/collapsePanel.directive.js?v=1"></script>
    <script src="app/areas/common/confirmDelete.modal.js?v=1"></script>
    <script src="app/areas/common/helpNoItems.directive.js?v=1"></script>
    <!-- Load home -->
    <script src="app/areas/home/home.controller.js?v=1"></script>
    <script src="app/areas/home/index.controller.js?v=1"></script>
    <!-- Load login -->
    <script src="app/areas/login/associate.controller.js?v=1"></script>
    <script src="app/areas/login/login.controller.js?v=1"></script>
    <script src="app/areas/login/signup.controller.js?v=1"></script>
    <script src="app/areas/login/socialLogin.directive.js?v=1"></script>
    <!-- Load options -->
    <script src="app/areas/options/options.controller.js?v=1"></script>
    <!-- Load planning -->
    <script src="app/areas/planning/editPlanningTask.modal.js?v=1"></script>
    <script src="app/areas/planning/filterPlanningTask.directive.js?v=1"></script>
    <script src="app/areas/planning/newPlanningTask.modal.js?v=1"></script>
    <script src="app/areas/planning/planning.controller.js?v=1"></script>
    <script src="app/areas/planning/planningTaskCard.directive.js?v=1"></script>
    <script src="app/areas/planning/planningTaskTotals.directive.js?v=1"></script>
    <!-- Load status -->
    <script src="app/areas/status/planningStatus.js?v=1"></script>
    <script src="app/areas/status/activeStatus.js?v=1"></script>
    <!-- Load tasks -->
    <script src="app/areas/tasks/editTask.directive.js?v=1"></script>
    <script src="app/areas/tasks/filterTask.directive.js?v=1"></script>
    <script src="app/areas/tasks/newTask.directive.js?v=1"></script>
    <script src="app/areas/tasks/tasks.controller.js?v=1"></script>

</body>
</html>
