<!DOCTYPE html>
<html data-ng-app="PointsApp">
<head>

    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>checkPoint!</title>
    <!--<link href="content/css/bootstrap.spacelab.min.css" rel="stylesheet" />-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" rel="stylesheet" />-->
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/social-buttons.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#">checkPoint!</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a>Welcome {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/active">Active Week</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/planning">Planning</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/cats">Categories</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/tasks">Tasks</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/options">Options</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
        <!--<div active-status ng-show="authentication.isAuth"></div>
        <div planning-status ng-show="authentication.isAuth"></div>-->
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        &nbsp;
    </div>

    <div class="container">
        <div data-ng-view="">
        </div>
    </div>

    <hr/>
    
    <!-- 3rd party libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="//underscorejs.org/underscore-min.js"></script>

    <script src="app/hash.js?v=2"></script>
    <script src="app/format.js?v=2"></script>
    <!-- Load app main script -->
    <script src="app/app.js?v=2"></script>

    <!-- Load services -->
    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/resourceService.js?v=2"></script>
    <script src="app/services/authService.js?v=2"></script>
    <script src="app/services/authDataService.js?v=2"></script>
    <script src="app/services/modalService.js?v=2"></script>
    <!-- Load filters -->
    <!-- Load factories -->
    <script src="app/factories/filterFactory.js?v=2"></script>
    <!-- Load active -->
    <script src="app/areas/active/activeController.js?v=2"></script>
    <script src="app/areas/active/activeTaskCard.js?v=2"></script>
    <script src="app/areas/active/activeTaskTotals.js?v=2"></script>
    <script src="app/areas/active/filterActiveTask.js?v=2"></script>
    <!-- Load categories -->
    <script src="app/areas/categories/catsController.js?v=2"></script>
    <script src="app/areas/categories/newCat.js?v=2"></script>
    <script src="app/areas/categories/editCat.js?v=2"></script>
    <script src="app/areas/categories/filterCat.js?v=2"></script>
    <!-- Load home -->
    <script src="app/areas/home/indexController.js?v=2"></script>
    <script src="app/areas/home/homeController.js?v=2"></script>
    <!-- Load login -->
    <script src="app/areas/login/loginController.js?v=2"></script>
    <script src="app/areas/login/signupController.js?v=2"></script>
    <script src="app/areas/login/associateController.js?v=2"></script>
    <!-- Load options -->
    <script src="app/areas/options/optionsController.js?v=2"></script>
    <!-- Load planning -->
    <script src="app/areas/planning/planningController.js?v=2"></script>
    <script src="app/areas/planning/newPlanningTaskModal.js?v=2"></script>
    <script src="app/areas/planning/planningTaskCard.js?v=2"></script>
    <script src="app/areas/planning/editPlanningTaskModal.js?v=2"></script>
    <script src="app/areas/planning/planningTaskTotals.js?v=2"></script>
    <script src="app/areas/planning/filterPlanningTask.js?v=2"></script>
    <!-- Load status -->
    <script src="app/areas/status/planningStatus.js?v=2"></script>
    <script src="app/areas/status/activeStatus.js?v=2"></script>
    <!-- Load tasks -->
    <script src="app/areas/tasks/tasksController.js?v=2"></script>
    <script src="app/areas/tasks/newTask.js?v=2"></script>
    <script src="app/areas/tasks/editTask.js?v=2"></script>
    <script src="app/areas/tasks/filterTask.js?v=2"></script>
    <!-- Load custom directives -->
    <script src="app/directives/imgButton.js?v=2"></script>
    <script src="app/directives/collapsePanel.js?v=2"></script>
    <script src="app/directives/basicPanel.js?v=2"></script>
    <script src="app/directives/alertBox.js?v=2"></script>
    <script src="app/directives/socialLogin.js?v=2"></script>
    <!-- Load custom templates -->
    <script src="app/controllers/confirmDeleteModal.js?v=2"></script>
    <script src="app/controllers/confirmUncheckModal.js?v=2"></script>

</body>
</html>
