<!DOCTYPE html>
<html data-ng-app="PointsApp">
<head>

    <meta content="IE=edge, chrome=1" http-equiv="X-UA-Compatible" />
    <title>Points Program</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"/>
    <!--<link href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css" rel="stylesheet" />-->
    <link href="content/css/site.css" rel="stylesheet" />
    <link href="content/css/loading-bar.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="content/css/social-buttons.css" rel="stylesheet" />
    <link href="content/css/xeditable.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation" data-ng-controller="indexController">
        <div class="container">
            <div class="navbar-header">
                <button class="btn btn-success navbar-toggle" data-ng-click="navbarExpanded = !navbarExpanded">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </button>
                <a class="navbar-brand" href="#/">Points Program</a>
            </div>
            <div class="collapse navbar-collapse" data-collapse="!navbarExpanded">
                <ul class="nav navbar-nav navbar-right">
                    <li data-ng-hide="!authentication.isAuth"><a href="#/active">Welcome {{authentication.userName}}</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/active">Active Week</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/planning">Planning</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/cats">Categories</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/tasks">Tasks</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="#/options">Options</a></li>
                    <li data-ng-hide="!authentication.isAuth"><a href="" data-ng-click="logOut()">Logout</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/login">Login</a></li>
                    <li data-ng-hide="authentication.isAuth"> <a href="#/signup">Sign Up</a></li>
                </ul>
            </div>
        </div>
        <!--<div active-status ng-show="authentication.isAuth"></div>
        <div planning-status ng-show="authentication.isAuth"></div>-->
    </div>
    <div class="row">
        &nbsp;
    </div>
    <div class="row">
        &nbsp;
    </div>

    <div class="container">
        <div data-ng-view="">
        </div>
    </div>

    <hr/>
    
    <!-- 3rd party libraries -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.1.2.js"></script>
    <script src="scripts/angular-local-storage.min.js"></script>
    <script src="scripts/xeditable.js"></script>

    <!-- Load app main script -->
    <script src="app/app.js?v=2"></script>

    <!-- Load services -->
    <script src="app/services/authInterceptorService.js?v=2"></script>
    <script src="app/services/authService.js?v=2"></script>
    <script src="app/services/catsService.js?v=2"></script>
    <script src="app/services/tasksService.js?v=2"></script>
    <script src="app/services/planningTasksService.js?v=2"></script>
    <script src="app/services/usersService.js?v=2"></script>
    <script src="app/services/jobsService.js?v=2"></script>
    <script src="app/services/activeTasksService.js?v=2"></script>
    <!-- Load controllers -->
    <script src="app/controllers/indexController.js?v=2"></script>
    <script src="app/controllers/homeController.js?v=2"></script>
    <script src="app/controllers/loginController.js?v=2"></script>
    <script src="app/controllers/signupController.js?v=2"></script>
    <script src="app/controllers/activeController.js?v=2"></script>
    <script src="app/controllers/planningController.js?v=2"></script>
    <script src="app/controllers/catsController.js?v=2"></script>
    <script src="app/controllers/tasksController.js?v=2"></script>
    <script src="app/controllers/optionsController.js?v=2"></script>
    <script src="app/controllers/associateController.js?v=2"></script>
    <!-- Load custom filters -->
    <!-- Load custom directives -->
    <script src="app/directives/newCat.js?v=2"></script>
    <script src="app/directives/editCat.js?v=2"></script>
    <script src="app/directives/filterCat.js?v=2"></script>
    <script src="app/directives/newPlanningTask.js?v=2"></script>
    <script src="app/directives/newTask.js?v=2"></script>
    <script src="app/directives/editTask.js?v=2"></script>
    <script src="app/directives/filterTask.js?v=2"></script>
    <script src="app/directives/imgButton.js?v=2"></script>
    <script src="app/directives/planningCat.js?v=2"></script>
    <script src="app/directives/editPlanningTask.js?v=2"></script>
    <script src="app/directives/planningStatus.js?v=2"></script>
    <script src="app/directives/activeStatus.js?v=2"></script>
    <!-- Load custom factories -->
    <script src="app/factories/filterFactory.js?v=2"></script>
    <!-- Load custom partials -->
    <script src="app/controllers/partials/confirmDeleteController.js?v=2"></script>

</body>
</html>
