<div class="row">
    <div class="row">
        <h1>Active Week</h1>
        <hr/>
    </div>

    <div class="row">
        <div alert-box></div>
    </div>

    <div class="row">
        <div active-task-totals></div>
        <div filter-active-task></div>
    </div>
    <div class="row">
        <div class="col-md-3" ng-repeat="task in tasks | filter:taskFilter">
            <div active-task-card the-task="task" add-success="addSuccess(msg)" add-error="addError(msg)"></div>
        </div>
    </div>
</div>
