<div class="row">
    <div class="page-header text-center">
        <h1>Categories</h1>
    </div>

    <div class="row" new-cat>
    </div>
    <div data-ng-hide="message == ''" class="row alert alert-danger">
        {{message}}
    </div>
    <table class="row table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Is Private</th>
                <th style="width:60px"></th>
            </tr>
        </thead>
        <tbody>
            <!--<tr new-cat-row></tr>-->
            <tr ng-repeat="cat in cats" edit-cat the-cat="cat">
        </tr>
        </tbody>
        </table>
</div>
