<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div class="row">
            <h1>Categories</h1>
            <hr />
        </div>

        <div class="row">
            <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alert)">{{alert.msg}}</div>
        </div>

        <div class="row" filter-cat></div>
        <div class="row">&nbsp;</div>

        <div class="row">
            <table class="table table-striped table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th style="width: 60px; text-align: right">
                            <button type="button" class="btn btn-warning" ng-click="loadCats()" title="Refresh">
                                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr new-cat add-alert="addAlert(type,msg)"></tr>
                    <tr ng-repeat="cat in cats | filter:catFilter" edit-cat the-cat="cat" cat-in-edit="catInEdit" add-alert="addAlert(type,msg)"></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>
