<tr>
    <td ng-hide="true">
        {{ task.id }}
    </td>
    <td ng-hide="isInEditMode(task.id)">
        {{ task.name }}
    </td>
    <td ng-show="isInEditMode(task.id)" editable-text="editTask.name" e-name="editName" e-required>
        {{ editTask.name }}
    </td>
    <td ng-hide="isInEditMode(task.id)">
        {{ task.category.name }}
    </td>
    <td ng-show="isInEditMode(task.id)" editable-select="editTask.category" e-ng-options="option.name for option in cats track by option.id" e-name="editCategory" e-required>
        {{ editTask.category.name }}
    </td>
    <td>
        <input type="checkbox" data-ng-model="task.isPrivate" disabled="disabled">
    </td>
    <td>
        <div ng-hide="isInEditMode(cat.id) || isSomeoneElseInEditMode(cat.id)">
            <div img-button btn-type="'edit'" ng-click="startEdit(task.id)"></div>
            <div img-button btn-type="'delete'" ng-click="deleteCat(task.id)"></div>
        </div>
        <form editable-form name="editForm" ng-show="isInEditMode(task.id)">
            <div img-button btn-type="'save'" ng-click="saveEdit()"></div>
            <div img-button btn-type="'cancel'" ng-click="clearEditData()"></div>
        </form>
</td>
</tr>