<tr>
    <td ng-hide="true">
        {{ task.id }}
    </td>
    <td>
        <span ng-hide="isInEditMode(task.id)">
            {{ task.name }}
        </span>
        <span ng-show="isInEditMode(task.id)" editable-text="editTask.name" buttons="no" e-name="editName" e-form="editForm" e-required onbeforesave="validateName($data)">
            {{ editTask.name }}
        </span>
    </td>
    <td>
        <span ng-hide="isInEditMode(task.id)">
            {{ task.category.name }}
        </span>
        <span ng-show="isInEditMode(task.id)" editable-select="editTask.category" e-ng-options="option.name for option in cats track by option.id" e-name="editCategory" e-form="editForm" e-required>
            {{ editTask.category.name }}
        </span>
    </td>
    <td class="checkbox-td">
        <input type="checkbox" data-ng-model="task.isPrivate" disabled="disabled">
    </td>
    <td class="buttons-td">
        <div ng-hide="isInEditMode(cat.id) || isSomeoneElseInEditMode(cat.id)">
            <div img-button btn-type="'edit'" ng-click="startEdit(task.id)"></div>
            <div img-button btn-type="'delete'" ng-click="deleteCat(task.id)"></div>
        </div>
        <form editable-form name="editForm" ng-show="isInEditMode(task.id)">
            <div img-button btn-type="'save'" ng-click="saveEdit()"></div>
            <div img-button btn-type="'cancel'" ng-click="clearEditData()"></div>
        </form>
    </td>
</tr>