<div class="row">
    <div class="col-md-3">&nbsp;</div>
    <div class="col-md-6">
        <div class="row">
            <h1>User Options</h1>
            <hr/>
        </div>
        <div class="row">
            <div alert-box></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            Email (required for notifications):
            <a href="#" editable-email="user.email">
                {{ user.email || 'not set' }}
            </a>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            Notification on week start:
            <a href="#" editable-select="user.weekStartNotify" e-ng-options="option.name for option in hoursPrior">
                {{ user.weekStartNotify.name }}
            </a>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            Notification on week end:
            <a href="#" editable-select="user.weekEndNotify" e-ng-options="option.name for option in hoursPrior">
                {{ user.weekEndNotify.name }}
            </a>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            Week starts on:
            <a href="#" editable-select="user.offsetDay" e-ng-options="option for option in days">
                {{ user.offsetDay }}
            </a>
            &nbsp;
            <a href="#" editable-select="user.startHour" e-ng-options="option.text for option in hours">
                {{ user.startHour.text }}
            </a>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <button type="submit" class="btn btn-success" ng-disabled="areNoChanges()" ng-click="saveChanges()" title="Save changes">
                <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-disabled="areNoChanges()" ng-click="cancelChanges()" title="Cancel changes">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <div class="col-md-3">&nbsp;</div>
</div>
