<div class="row">
    <div class="row">
        <h1>Week Planning</h1>
        <hr/>
    </div>

    <div class="row">
        <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alert)">{{alert.msg}}</div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div new-planning-task add-alert="addAlert(type,msg)"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div uib-tabset>
            <div uib-tab heading="Tasks">
                <div>&nbsp;</div>
                <div class="col-md-3" ng-repeat="task in tasks">
                    <div edit-planning-task the-task="task" add-alert="addAlert(type,msg)"></div>
                </div>
            </div>
            <div uib-tab heading="Totals">
                
            </div>
        </div>
    </div>
</div>
