<div class="row">
    <div class="row">
        <h1>Week Planning</h1>
        <hr/>
    </div>

    <div class="row">
        <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert(alert)">{{alert.msg}}</div>
    </div>

    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div new-planning-task add-alert="addAlert(type,msg)"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div uib-accordion close-others="true">
            <div uib-accordion-group ng-repeat="cat in cats" is-open="cat.isOpen">
                <div uib-accordion-heading>
                    {{cat.name}} ({{cat.tasks.length}} tasks) <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': cat.isOpen, 'glyphicon-chevron-down': !cat.isOpen}"></i>
                </div>
                <div planning-cat the-cat="cat" task-in-edit="taskInEdit" add-alert="addAlert(type,msg)"></div>
            </div>
        </div>
    </div>
</div>
