<div class="row">
    <div class="page-header text-center">
        <h1>Tasks</h1>
    </div>

    <div data-ng-hide="message == ''" class="row alert alert-danger">
        {{message}}
    </div>
    <div>&nbsp;</div>
    <table class="row table table-striped table-bordered table-hover" ng-controller="editTaskController">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Is Private</th>
                <th style="width:60px"></th>
            </tr>
        </thead>
        <tbody>
            <tr new-task-row></tr>
            <tr data-ng-repeat="task in tasks" edit-task the-task="task" cats="cats">
            </tr>
        </tbody>
    </table>
</div>
