<div>
    <h2 class="form-login-heading">Social Logins</h2>
    <p>Or you can login using one of the social logins below</p>
    <a class="btn btn-block btn-social btn-facebook" ng-click="slVm.authExternalProvider('Facebook')">
        <i class="fa fa-facebook"></i> Connect with Facebook
    </a>
    <a class="btn btn-block btn-social btn-google" ng-click="slVm.authExternalProvider('Google')">
        <i class="fa fa-google"></i> Connect with Google
    </a>
    <a class="btn btn-block btn-social btn-twitter" ng-click="slVm.authExternalProvider('Twitter')" ng-hide="true">
        <i class="fa fa-twitter"></i> Connect with Twitter
    </a>
    <a class="btn btn-block btn-social btn-instagram" ng-click="slVm.authExternalProvider('Instagram')" ng-hide="true">
        <i class="fa fa-instagram"></i> Connect with Instagram
    </a>
    <a class="btn btn-block btn-social btn-microsoft" ng-click="slVm.authExternalProvider('Microsoft')" ng-hide="true">
        <i class="fa fa-windows"></i> Connect with Microsoft
    </a>
</div>
