<div>
    <table class="table table-condensed table-hover" style="width:50%">
        <thead>
            <tr>
                <th style="width:20px"></th>
                <th>Name</th>
                <th style="width:20px">Success</th>
                <th style="width:20px">Target Points</th>
                <th style="width:20px">Total Points</th>
                <th style="width:20px">Task Points</th>
                <th style="width:20px">Bonus Points</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-click="toggleCats()">
                <td><i class="glyphicon" ng-class="{'glyphicon-chevron-down': !hideCats, 'glyphicon-chevron-right': hideCats}"></i></td>
                <td><b>Total</b></td>
                <td><b>{{totals.isCompleted}}</b></td>
                <td><b>{{totals.targetPoints}}</b></td>
                <td><b>{{totals.totalPoints | number:2}}</b></td>
                <td><b>{{totals.taskPoints}}</b></td>
                <td><b>{{totals.bonusPoints | number:2}}</b></td>
            </tr>
            <tr ng-repeat-start="cat in totals.categories" ng-hide="hideCats" ng-click="toggleTasks(cat)">
                <td><i class="glyphicon" ng-class="{'glyphicon-chevron-down': !cat.hideTasks, 'glyphicon-chevron-right': cat.hideTasks}"></i></td>
                <td>- {{cat.name}}</td>
                <td>{{cat.isCompleted}}</td>
                <td>{{cat.targetPoints}}</td>
                <td>{{cat.totalPoints | number:2}}</td>
                <td>{{cat.taskPoints}}</td>
                <td>{{cat.bonusPoints | number:2}}</td>
            </tr>
            <tr ng-repeat-end ng-repeat="task in cat.tasks" ng-hide="cat.hideTasks">
                <td></td>
                <td>- - {{task.name}}</td>
                <td>{{task.isCompleted}}</td>
                <td>{{task.targetPoints}}</td>
                <td>{{task.totalPoints | number:2}}</td>
                <td>{{task.taskPoints}}</td>
                <td>{{task.bonusPoints | number:2}}</td>
            </tr>
        </tbody>
    </table>
</div>