<tr>
    <td ng-hide="true">
        {{ cat.id }}
    </td>
    <td>
        <span ng-hide="isInEditMode()">
            {{ cat.name }}
        </span>
        <input type="text" class="form-control" ng-show="isInEditMode()" ng-model="editCat.name">
    </td>
    <td class="checkbox-td">
        <input type="checkbox" ng-model="cat.isPrivate" disabled="disabled">
    </td>
    <td class="buttons-td">
        <div ng-hide="isInEditMode()">
            <div img-button btn-type="edit" ng-click="startEdit()"></div>
            <div img-button btn-type="delete" ng-click="delete()"></div>
        </div>
        <div ng-show="isInEditMode()">
            <div img-button btn-type="save" ng-disabled="!editCat.name" ng-click="saveEdit()"></div>
            <div img-button btn-type="cancel" ng-click="clearEditData()"></div>
        </div>
    </td>
</tr>