<tr>
    <td ng-hide="true">
        {{ task.id }}
    </td>
    <td>
        <span ng-hide="isInEditMode()">
            {{ task.name }}
        </span>
        <input type="text" class="form-control" ng-show="isInEditMode()" ng-model="editTask.name">
    </td>
    <td>
        <span ng-hide="isInEditMode()">
            {{ task.category.name }}
        </span>
        <select class="form-control" ng-show="isInEditMode()" ng-model="editTask.category" ng-options="option.name for option in cats track by option.id">
            {{ editTask.category.name }}
        </select>
    </td>
    <td class="buttons-td">
        <div ng-hide="isInEditMode()">
            <button type="button" class="btn btn-info" ng-click="startEdit()" title="Edit">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="delete()" title="Delete">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
        <div ng-show="isInEditMode()">
            <button type="button" class="btn btn-success" ng-disabled="!editTask.name" ng-click="saveEdit()" title="Save edit">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="clearEditData()" title="Cancel edit">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
    </td>
</tr>