<div>
    <div collapse-panel init-open="true" header-title="task.name + ' (' + task.task.category.name + ')'">
        <div basic-panel header-title="'Duration'">
            <span><b>Type:</b> <i>{{task.duration.type.name}}</i><br /></span>
            <span ng-hide="task.duration.type.name === 'None'"><b>Value:</b> <i>{{task.duration.value}}</i><br /></span>
            <span ng-hide="task.duration.type.name === 'None'"><b>Unit:</b> <i>{{task.duration.unit.name}}</i></span>
        </div><br />
        <div basic-panel header-title="'Frequency'">
            <span><b>Type:</b> <i>{{task.frequency.type.name}}</i><br /></span>
            <span ng-hide="task.frequency.type.name === 'Once'"><b>Value:</b> <i>{{task.frequency.value}}</i><br /></span>
            <span ng-hide="task.frequency.type.name === 'Once'"><b>Unit:</b> <i>{{task.frequency.unit.name}}</i></span>
        </div><br />
        <div basic-panel header-title="'Edit/Delete'">
            <div class="text-center">
                <button type="button" class="btn btn-info" ng-click="startEdit()" title="Edit">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                </button>
                <button type="button" class="btn btn-danger" ng-click="delete()" title="Delete">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </div>
        </div>
    </div>
</div>