<div>
    <uib-accordion>
        <uib-accordion-group is-open="filter.isOpen">
            <uib-accordion-heading>
                Filter <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': filter.isOpen, 'glyphicon-chevron-down': !filter.isOpen}"></i>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-md-4">
                    <p>Name</p>
                    <input class="form-control" ng-model="filter.text" />
                </div>
                <div class="col-md-2" style="text-align:center; vertical-align: middle;">
                    <p>Private Only</p>
                    <input type="checkbox" ng-model="filter.privateOnly" style="vertical-align: middle">
                </div>
                <div class="col-md-2">
                    <p>&nbsp;</p>
                    <div class="row">
                        <button type="button" class="btn btn-primary" ng-click="search()" title="Search">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                        <button type="button" class="btn btn-default" ng-click="clear()" title="Clear">
                            <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                        </button>
                    </div>
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
