<div>
    <uib-accordion>
        <uib-accordion-group is-open="filter.isOpen">
            <uib-accordion-heading>
                Filter <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-up': filter.isOpen, 'glyphicon-chevron-down': !filter.isOpen}"></i>
            </uib-accordion-heading>
            <div class="row">
                <div class="col-md-4">
                    <input class="form-control" type="text" ng-model="filter.text" />
                </div>
                <div class="col-md-4">
                    <select class="form-control" ng-model="filter.cat" ng-options="option.name for option in cats">
                        <option></option>
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-primary" ng-click="search()">Search</button>
                </div>
                <div class="col-md-2">
                    <button type="button" class="btn btn-default" ng-click="clear()">Clear</button>
                </div>
            </div>
        </uib-accordion-group>
    </uib-accordion>
</div>
