<div>
    <div collapse-panel is-open="filter.isOpen" header-title="'Filter'">
        <div class="row">
            <div class="col-md-4">
                <p>Name</p>
                <input class="form-control" ng-model="filter.text" />
            </div>
            <div class="col-md-2">
                <p>&nbsp;</p>
                <div class="row">
                    <button type="button" class="btn btn-primary" ng-click="search()" title="Search">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                    <button type="button" class="btn btn-default" ng-click="clear()" title="Clear">
                        <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
