<div>
    <div class="row" ng-show="show.categories">
        <div uib-alert type="info" close="closeAlert(alert)">
            <span>Go to <a href="#/cats">Categories</a></span>
        </div>
    </div>

    <div class="row" ng-show="show.tasks">
        <div uib-alert type="info" close="closeAlert(alert)">
            <span>Go to <a href="#/tasks">Tasks</a></span>
        </div>
    </div>

    <div class="row" ng-show="show.planning">
        <div uib-alert type="info" close="closeAlert(alert)">
            <span>Go to <a href="#/planning">Planning</a></span>
        </div>
    </div>
</div>