<form name="addForm">
    <div class="col-md-3">
        <p>Category</p>
        <select class="form-control" ng-model="addTaskData.cat" ng-options="option.name for option in cats" ng-change="filterTasks()" required></select>
    </div>
    <div class="col-md-3">
        <p>Task</p>
        <select class="form-control" ng-model="addTaskData.task" ng-options="option.name for option in addTaskData.cat.tasks" required></select>
    </div>
    <div class="col-md-2">
        <p>Duration</p>
        <select class="form-control" ng-model="addTaskData.duration.type" ng-options="option.name for option in enums.dTypes" required></select>
        <div>&nbsp;</div>
        <input type="number" class="form-control" placeholder="Value" ng-model="addTaskData.duration.value" ng-show="showAddDuration()" />
        <div>&nbsp;</div>
        <select class="form-control" ng-model="addTaskData.duration.unit" ng-show="showAddDuration()" ng-options="option.name for option in enums.dUnits"></select>
        <div>&nbsp;</div>
    </div>
    <div class="col-md-2">
        <p>Frequency</p>
        <select class="form-control" ng-model="addTaskData.frequency.type" ng-options="option.name for option in enums.fTypes" required></select>
        <div>&nbsp;</div>
        <input type="number" class="form-control" placeholder="Value" ng-model="addTaskData.frequency.value" ng-show="showAddFrequency()" />
        <div>&nbsp;</div>
        <select class="form-control" ng-model="addTaskData.frequency.unit" ng-show="showAddFrequency()" ng-options="option.name for option in enums.fUnits"></select>
        <div>&nbsp;</div>
    </div>
    <div class="col-md-2">
        <p>&nbsp;</p>
        <div class="row">
            <button type="button" class="btn btn-success" ng-disabled="!addTaskData.task.id || !addTaskData.cat.id" ng-click="addTask()" title="Save new">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-default" ng-click="resetDropdowns()" title="Clear">
                <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</form>