<tr>
    <td ng-hide="true"></td>
    <td>
        <span editable-text="addTaskData.name" buttons="no" e-name="addName" e-form="addForm" e-required onbeforesave="validateName($data)">
            {{ addTaskData.name }}
        </span>
    </td>
    <td>
        <span editable-select="addTaskData.category" e-ng-options="option.name for option in cats track by option.id" e-name="editCategory" e-form="addForm" e-required>
            {{ addTaskData.category.name }}
        </span>
    </td>
    <td class="checkbox-td">
        <input type="checkbox" ng-model="addTaskData.isPrivate">
    </td>
    <td class="buttons-td">
        <form editable-form name="addForm">
            <div img-button btn-type="'new'" ng-click="addTask()"></div>
        </form>
    </td>
</tr>