<tr>
    <td ng-hide="true"></td>
    <td>
        <input type="text" class="form-control" ng-model="addTaskData.name">
    </td>
    <td>
        <select class="form-control" ng-model="addTaskData.category" ng-options="option.name for option in cats track by option.id">
            {{ addTaskData.category.name }}
        </select>
    </td>
    <td class="checkbox-td">
        <input type="checkbox" ng-model="addTaskData.isPrivate">
    </td>
    <td class="buttons-td">
        <div img-button btn-type="new" ng-disabled="!addTaskData.name" ng-click="addTask()"></div>
        <div img-button btn-type="clear" ng-click="clearAddData()"></div>
    </td>
</tr>