<div class="row" style="padding:10px">
    <table class="col-md-12 table table-striped table-bordered table-hover" style="margin: 0 auto 0 auto;">
        <thead>
        <tr>
            <th>Task Name</th>
            <th>Duration Type</th>
            <th>Duration Value</th>
            <th>Duration Unit</th>
            <th>Frequency Type</th>
            <th>Frequency Value</th>
            <th>Frequency Unit</th>
            <th style="width: 60px"></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="task in cat.tasks" planning-task the-task="task" task-in-edit="taskInEdit" add-alert="addAlert(type,msg)"></tr>
        </tbody>
    </table>
</div>
