<tr>
    <td>
        <span>
            {{ task.task.name }}
        </span>
    </td>
    <td>
        <span ng-hide="isInEditMode()">
            {{ task.duration.type.name }}
        </span>
        <select class="form-control" ng-show="isInEditMode()" ng-model="editTask.duration.type" ng-options="option.name for option in enums.dTypes track by option.id">
            {{ editTask.duration.type.name }}
        </select>
    </td>
    <td>
        <span ng-hide="isInEditMode() || ignoreDurationValueAndUnit()">
            {{ task.duration.value }}
        </span>
        <input type="number" class="form-control" ng-show="isInEditMode() && !ignoreDurationValueAndUnit()" ng-model="editTask.duration.value" min="1">
        <span ng-show="ignoreDurationValueAndUnit()">
            -
        </span>
    </td>
    <td>
        <span ng-hide="isInEditMode() || ignoreDurationValueAndUnit()">
            {{ task.duration.unit.name }}
        </span>
        <select class="form-control" ng-show="isInEditMode() && !ignoreDurationValueAndUnit()" ng-model="editTask.duration.unit" ng-options="option.name for option in enums.dUnits track by option.id">
            {{ editTask.duration.unit.name }}
        </select>
        <span ng-show="ignoreDurationValueAndUnit()">
            -
        </span>
    </td>
    <td>
        <span ng-hide="isInEditMode()">
            {{ task.frequency.type.name }}
        </span>
        <select class="form-control" ng-show="isInEditMode()" ng-model="editTask.frequency.type" ng-options="option.name for option in enums.fTypes track by option.id">
            {{ editTask.frequency.type.name }}
        </select>
    </td>
    <td>
        <span ng-hide="isInEditMode() || ignoreFrequencyValueAndUnit()">
            {{ task.frequency.value }}
        </span>
        <input type="number" class="form-control" ng-show="isInEditMode() && !ignoreFrequencyValueAndUnit()" ng-model="editTask.frequency.value" min="1">
        <span ng-show="ignoreFrequencyValueAndUnit()">
            -
        </span>
    </td>
    <td>
        <span ng-hide="isInEditMode() || ignoreFrequencyValueAndUnit()">
            {{ task.frequency.unit.name }}
        </span>
        <select class="form-control" ng-show="isInEditMode() && !ignoreFrequencyValueAndUnit()" ng-model="editTask.frequency.unit" ng-options="option.name for option in enums.fUnits track by option.id">
            {{ editTask.frequency.unit.name }}
        </select>
        <span ng-show="ignoreFrequencyValueAndUnit()">
            -
        </span>
    </td>
    <td class="buttons-td">
        <div ng-hide="isInEditMode()">
            <button type="button" class="btn btn-info" ng-click="startEdit()" title="Edit">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="delete()" title="Delete">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
        <div ng-show="isInEditMode()">
            <button type="button" class="btn btn-success" ng-disabled="disableEditSave()" ng-click="saveEdit()" title="Save edit">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="clearEditData()" title="Cancel edit">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
    </td>
</tr>