<div>
    <table class="table table-condensed table-hover" style="width:50%">
        <thead>
            <tr>
                <th style="width:20px"></th>
                <th>Name</th>
                <th style="width:20px">Points</th>
                <th style="width:20px">Bonus Point Value</th>
            </tr>
        </thead>
        <tbody>
            <tr class="active" ng-click="toggleCats()">
                <td><i class="glyphicon" ng-class="{'glyphicon-chevron-down': !hideCats, 'glyphicon-chevron-right': hideCats}"></i></td>
                <td><b>Total</b></td>
                <td><b>{{totals.points}}</b></td>
                <td></td>
            </tr>
            <tr class="info" ng-repeat-start="cat in totals.categories" ng-hide="hideCats" ng-click="toggleTasks(cat)">
                <td><i class="glyphicon" ng-class="{'glyphicon-chevron-down': !cat.hideTasks, 'glyphicon-chevron-right': cat.hideTasks}"></i></td>
                <td>- {{cat.name}}</td>
                <td>{{cat.points}}</td>
                <td></td>
            </tr>
            <tr ng-repeat-end ng-repeat="task in cat.tasks" ng-hide="cat.hideTasks">
                <td></td>
                <td>- - {{task.name}}</td>
                <td></td>
                <td>{{task.bonusPointValue | number:2}}</td>
            </tr>
        </tbody>
    </table>
</div>