<tr>
    <td ng-hide="true">
        {{ editTaskVm.task.id }}
    </td>
    <td>
        <span ng-hide="editTaskVm.isInEditMode()">
            {{ editTaskVm.task.name }}
        </span>
        <input type="text" class="form-control" ng-show="editTaskVm.isInEditMode()" ng-model="editTaskVm.editTask.name">
    </td>
    <td>
        <span ng-hide="editTaskVm.isInEditMode()">
            {{ editTaskVm.task.category.name }}
        </span>
        <select class="form-control" ng-show="editTaskVm.isInEditMode()" ng-model="editTaskVm.editTask.category" ng-options="option.name for option in editTaskVm.cats track by option.id">
            {{ editTaskVm.editTask.category.name }}
        </select>
    </td>
    <td class="buttons-td">
        <div ng-hide="editTaskVm.isInEditMode()">
            <button type="button" class="btn btn-info" ng-click="editTaskVm.startEdit()" title="Edit">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="editTaskVm.delete()" title="Delete">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
        <div ng-show="editTaskVm.isInEditMode()">
            <button type="button" class="btn btn-success" ng-disabled="!editTaskVm.editTask.name" ng-click="editTaskVm.saveEdit()" title="Save edit">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-danger" ng-click="editTaskVm.clearEditData()" title="Cancel edit">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
        </div>
    </td>
</tr>