<div class="row">
    <div class="col-md-2">&nbsp;</div>
    <div class="col-md-8">
        <div class="row">
            <h1>Tasks</h1>
            <hr />
        </div>

        <div class="row">
            <div alert-box></div>
        </div>

        <div class="row" ng-hide="tasksVm.noItems">
            <div filter-task></div>
        </div>

        <div class="row" ng-show="tasksVm.noItems">
            <div help-no-items show-categories></div>
        </div>

        <div class="row" ng-hide="tasksVm.noItems">
            <table class="table table-striped table-bordered table-hover" style="width: 100%">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Category</th>
                    <th style="width: 60px; text-align: right">
                        <button type="button" class="btn btn-warning" ng-click="tasksVm.loadTasks()" title="Refresh">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                        </button>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr new-task add-success="tasksVm.addSuccess(msg)" add-error="tasksVm.addError(msg)"></tr>
                <tr ng-repeat="task in tasksVm.tasks | filter:tasksVm.taskFilter" edit-task the-task="task" task-in-edit="tasksVm.taskInEdit" add-success="tasksVm.addSuccess(msg)" add-error="tasksVm.addError(msg)"></tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-2">&nbsp;</div>
</div>